In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [28]:
data=pd.read_csv("Salary.csv")
data.head(100)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
95,39.0,Female,Bachelor's,Training Specialist,12.0,65000.0
96,47.0,Male,PhD,Research Scientist,22.0,160000.0
97,26.0,Male,Bachelor's,Junior Software Developer,1.0,35000.0
98,38.0,Female,Master's,Public Relations Manager,10.0,90000.0
99,45.0,Male,Bachelor's,Operations Analyst,20.0,110000.0

In [40]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
x = data[["Years of Experience"]]
x_imputed = imputer.fit_transform(x)
y = data["Salary"]
y = y.fillna(y.mean())  
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_imputed, y, test_size=0.2, random_state=0)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
score = r2_score(y_test, y_pred)
print(score)

0.6738736688258411

In [42]:
##### years_exp = float(input("Enter your Years of Experience: "))
input_data = [[years_exp]]
predicted_salary = model.predict(input_data)
print(f"Predicted Salary for {years_exp} years of experience is: {predicted_salary[0]:.2f}")

Enter your Years of Experience:  5

Predicted Salary for 5.0 years of experience is: 93987.91